    <label for="filter">Filter Books</label>
    <select class="filter" name="filter">
        <option value="choose">choose</option>
        <option value="all">All Books</option>
        <option value="javascript">Javascript</option>
        <option value="Python">Python</option>
    </select>


  <h1 class="bookHeading">Books</h1>

<div class="books_container">
    {{#each book_data}}
      <ul class="book_info">
        <li><img src="{{this.image}}" width="100" height="138" class="bookImage" /></li>
        <li class="liData"><a href="/{{this.id}}/edit">edit</a><a href="/{{this.id}}/delete">delete</a><h1><a href="/books/{{this.id}}">{{this.title}}</a></h1></li>
        <li class="liData">Genre: {{this.genre}}</li>
        <li class="description" class="liData">{{this.description}}</li>
      </ul>
    {{/each}}

    <a href='/add'>Add Book</a>


</div>

<script>
  $(document).ready(function() {
  $( ".filter" ).on('change', function() {
        var chosenVal = $(this).val();
        console.log(chosenVal)
        window.location.href = "/filtered/" + chosenVal;
    });
  })
</script>
