  <h1 class="bookHeading">Books</h1>

<div class="books_container">
    {{#each book_data}}
      <ul class="book_info">
        <li><img src="{{this.bookImage}}" width="100" height="138" class="bookImage" /></li>
        <li class="liData"><a href="/edit">edit</a><a href="/{{this.id}}/delete">delete</a><h1>{{this.title}}</h1></li>
        <li class="liData">By: {{this.first_name}} {{this.last_name}}</li>
        <li class="liData">Genre: {{this.genre}}</li>
        <li class="description" class="liData">{{this.description}}</li>
      </ul>
    {{/each}}

    <a href='/add'>Add Book</a>


</div>
