<form class="addBookForm" action="/edit" method="post">
  <label for="title">Title</label>
  <input type="text" name="title" value="{{editBook.title}}">
  <label for="genre">Genre</label>
  <input type="text" name="genre" value="{{editBook.genre}}">
  <label for="image">Cover Image URL</label>
  <input type="text" name="image" value="{{editBook.bookImage}}">
  <label for="description">Description</label>
  <textarea name="description" rows="8" cols="40">{{editBook.description}}</textarea>
  <button type="submit" name="id" value="{{editBook.id}}">Add Book</button>
</form>
